{% extends 'merchandise/base.html' %} {% block title %} About us! {% endblock %}
{% block content %}
<h1>
  Mercadona has been founded in 1990 to always give you the best quality in our
  products at the best price
</h1>
<br />
<div class="p-6 bg-gray-700 rounded-b-xl rounded-t-xl text-white mb-6">
  <p class="text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Fringilla urna porttitor
    rhoncus dolor purus. Nibh venenatis cras sed felis eget velit aliquet
    sagittis id. Dignissim diam quis enim lobortis scelerisque fermentum. Ac
    tincidunt vitae semper quis lectus nulla at volutpat diam. Tempor commodo
    ullamcorper a lacus vestibulum sed arcu non odio. Mauris pellentesque
    pulvinar pellentesque habitant morbi tristique. Congue mauris rhoncus aenean
    vel elit scelerisque mauris pellentesque pulvinar. Quisque non tellus orci
    ac auctor augue mauris augue. Massa enim nec dui nunc. Aliquam sem fringilla
    ut morbi tincidunt augue. Ornare arcu dui vivamus arcu felis. Mattis
    pellentesque id nibh tortor id aliquet lectus proin.

    <br />
    <br />
    Neque vitae tempus quam pellentesque nec nam. Neque gravida in fermentum et
    sollicitudin ac orci. Etiam tempor orci eu lobortis elementum. Netus et
    malesuada fames ac turpis egestas integer eget aliquet. Quam lacus
    suspendisse faucibus interdum posuere lorem. Nibh tortor id aliquet lectus
    proin nibh nisl. Eget arcu dictum varius duis at consectetur lorem donec.
    Pharetra diam sit amet nisl suscipit adipiscing bibendum. Consequat ac felis
    donec et odio pellentesque diam. Nisl pretium fusce id velit ut tortor.
    Pulvinar elementum integer enim neque volutpat ac tincidunt vitae semper.
    Nec ullamcorper sit amet risus nullam eget felis eget. Mi in nulla posuere
    sollicitudin aliquam ultrices sagittis orci a. Quis eleifend quam adipiscing
    vitae proin.
  </p>

  <br />
  <br />
  <p class="text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Fringilla urna porttitor
    rhoncus dolor purus. Nibh venenatis cras sed felis eget velit aliquet
    sagittis id. Dignissim diam quis enim lobortis scelerisque fermentum. Ac
    tincidunt vitae semper quis lectus nulla at volutpat diam. Tempor commodo
    ullamcorper a lacus vestibulum sed arcu non odio. Mauris pellentesque
    pulvinar pellentesque habitant morbi tristique. Congue mauris rhoncus aenean
    vel elit scelerisque mauris pellentesque pulvinar. Quisque non tellus orci
    ac auctor augue mauris augue. Massa enim nec dui nunc. Aliquam sem fringilla
    ut morbi tincidunt augue. Ornare arcu dui vivamus arcu felis. Mattis
    pellentesque id nibh tortor id aliquet lectus proin. Neque vitae tempus quam
    pellentesque nec nam. Neque gravida in fermentum et sollicitudin ac orci.
    Etiam tempor orci eu lobortis elementum. Netus et malesuada fames ac turpis
    egestas integer eget aliquet. Quam lacus suspendisse faucibus interdum
    posuere lorem. Nibh tortor id aliquet lectus proin nibh nisl. Eget arcu
    dictum varius duis at consectetur lorem donec. Pharetra diam sit amet nisl
    suscipit adipiscing bibendum. Consequat ac felis donec et odio pellentesque
    diam. Nisl pretium fusce id velit ut tortor. Pulvinar elementum integer enim
    neque volutpat ac tincidunt vitae semper. Nec ullamcorper sit amet risus
    nullam eget felis eget. Mi in nulla posuere sollicitudin aliquam ultrices
    sagittis orci a. Quis eleifend quam adipiscing vitae proin.
  </p>
  {% endblock %}
</div>
