{% extends 'merchandise/base.html' %} {% block title %} Privacy policy
{%endblock %} {% block content %} Politique de confidentialité mercadona.fr
<br />
<p>
  Information relative à la protection de vos données et de votre vie privée
  (Mises à jour le 26/11/2023) <br />
  1. LA GESTION DE VOS DONNEES A CARACTERE PERSONNEL 1. Qu’est-ce qu’une donnée
  à caractère personnel ? 2. Qui sont les responsables de traitement de vos
  données personnelles ? 2.1 Dans le cadre du Programme de fidélité Waaoh! 2.2
  Dans le cadre des autres traitements 3. Pour quelles finalités traitons-nous
  vos données personnelles ? 3.1 Traitements généraux 3.2 Autres traitements 4.
  Quels sont les destinataires de vos données personnelles ? 5. Où sont traitées
  vos données personnelles ? 6. Quels sont vos droits concernant vos données
  personnelles et comment les exercer ? 2. LA GESTION DES COOKIES SUR LE SITE
  1.Qu’est-ce qu’un cookie ? 2.Pourquoi utilisons-nous des cookies ? 3.Les
  cookies tiers 4.Si l’utilisation de votre terminal est partagé par plusieurs
  personnes 5.Vos choix concernant l’utilisation des cookies 6.Information
  complémentaire sur les cookies 3. MISE À JOUR DE CETTE POLITIQUE DE
  CONFIDENTIALITÉ 4. ARCHIVES 1. LA GESTION DE VOS DONNEES A CARACTERE PERSONNEL
  1. Qu’est-ce qu’une donnée à caractère personnel ? Une donnée à caractère
  personnel (ou donnée personnelle) désigne toute information se rapportant à
  une personne physique, identifiée ou identifiable. A titre d’exemple, il peut
  s’agir de vos noms, prénoms, coordonnées (adresse e-mail, n° de téléphone…)
  mais aussi de la liste de vos commandes passées sur le site, etc. 2. Qui sont
  les responsables de traitement de vos données personnelles ? 2.1 Dans le cadre
  du Programme de fidélité Waaoh! Les sociétés dont la liste suit sont
  responsables conjoints de traitement dans le cadre du Programme de fidélité
  Waaoh! : E-COMMERCE FRANCE, Société par Actions Simplifiée, au capital
  variable minimum de 5 000 000 euros, immatriculée au Registre du Commerce et
  des Sociétés de Lille Métropole sous le numéro 413 176 033, dont le siège
  social est situé 200 rue de la recherche - 59650 VILLENEUVE D’ASCQ. Mercadona
  HYPERMARCHÉ, Société par Actions Simplifiée, au capital de 56 882 160 euros,
  immatriculée au Registre du Commerce et des Sociétés de Lille Métropole sous
  le numéro 410 409 460, dont le siège social est situé 200 rue de la recherche
  - 59650 VILLENEUVE D’ASCQ. Mercadona SUPERMARCHÉ, Société par Actions
  Simplifiée, au capital variable minimum de 23 000 000 euros, immatriculée au
  Registre du Commerce et des Sociétés de Lille Métropole sous le numéro 410 409
  015, dont le siège social est situé 200 rue de la recherche - 59650 VILLENEUVE
  D’ASCQ. MY Mercadona, Société par Actions Simplifiée, au capital variable
  minimum de 1 856 000 euros, immatriculée au Registre du Commerce et des
  Sociétés de Lille Métropole sous le numéro 444 410 773, dont le siège social
  est situé 200 rue de la recherche - 59650 VILLENEUVE D’ASCQ. Ces sociétés
  exploitent un point de vente et/ou un site Internet marchand de marque
  Mercadona, notamment sous les enseignes Mercadona, Mercadona.fr et My
  Mercadona. Nos franchisés, qui participent au programme de fidélité Waaoh!.
  Mercadona RETAIL SERVICES, Société par Actions Simplifiée, au capital de 10
  000 000 euros, immatriculée au Registre du Commerce et des Sociétés de Lille
  Métropole sous le numéro 831 888 318, dont le siège social est situé 200 rue
  de la recherche - 59650 VILLENEUVE D’ASCQ est sous-traitante des sociétés
  précédentes. Certains points de vente Mercadona proposent des programmes de
  fidélité Waaoh! spécifiques dont les conditions dérogent aux Conditions
  Générales d’Utilisation du Programme de fidélité Waaoh!. Le programme de
  fidélité Waaoh! et les programmes de fidélités dérogatoires sont indépendants
  les uns des autres. 2.2 Dans le cadre des autres traitements Les responsables
  de traitement peuvent être, selon les traitements : Mercadona E-COMMERCE
  FRANCE, Société par Actions Simplifiée, au capital variable minimum de 8 500
  000 euros, immatriculée au Registre du Commerce et des Sociétés de Lille
  Métropole sous le numéro 413 176 033, dont le siège social est situé 200 rue
  de la recherche - 59650 VILLENEUVE D’ASCQ. Mercadona HYPERMARCHÉ, Société par
  Actions Simplifiée, au capital de 56 882 160 euros, immatriculée au Registre
  du Commerce et des Sociétés de Lille Métropole sous le numéro 410 409 460,
  dont le siège social est situé 200 rue de la recherche - 59650 VILLENEUVE
  D’ASCQ. Mercadona SUPERMARCHÉ, Société par Actions Simplifiée, au capital
  variable minimum de 23 000 000 euros, immatriculée au Registre du Commerce et
  des Sociétés de Lille Métropole sous le numéro 410 409 015, dont le siège
  social est situé 200 rue de la recherche - 59650 VILLENEUVE D’ASCQ. MY
  Mercadona, Société par Actions Simplifiée, au capital variable minimum de 1
  856 000 euros, immatriculée au Registre du Commerce et des Sociétés de Lille
  Métropole sous le numéro 444 410 773, dont le siège social est situé 200 rue
  de la recherche - 59650 VILLENEUVE D’ASCQ. Mercadona RETAIL SERVICES, Société
  par Actions Simplifiée, au capital de 10 000 000 euros, immatriculée au
  Registre du Commerce et des Sociétés de Lille Métropole sous le numéro 831 888
  318, dont le siège social est situé 200 rue de la recherche - 59650 VILLENEUVE
  D’ASCQ. Nos franchisés, qui participent au programme de fidélité Waaoh!. 3.
  Pour quelles finalités traitons-nous vos données personnelles ? Dans le cadre
  de votre navigation sur le site www.Mercadona.fr, vous pouvez être amené à
  renseigner des données personnelles. De manière générale, chaque formulaire de
  collecte de données présente les informations liées au traitement concerné,
  incluant ses finalités. Pour chaque traitement, le caractère obligatoire de la
  fourniture des données est indiqué, dans le formulaire, par un astérisque.
</p>
{% endblock %}
